[Unit]
Description=PyprWall Wallpaper Cycling
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/sbin/pyprwall --cycle-daemon
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Restart=on-failure

[Install]
WantedBy=default.target
