* {
    primary: #bece7f;
    primary-fixed: #daea98;
    primary-fixed-dim: #bece7f;
    on-primary: #2b3400;
    on-primary-fixed: #181e00;
    on-primary-fixed-variant: #404c0a;
    primary-container: #404c0a;
    on-primary-container: #daea98;
    secondary: #c5caa8;
    secondary-fixed: #e1e6c3;
    secondary-fixed-dim: #c5caa8;
    on-secondary: #2e331b;
    on-secondary-fixed: #191d08;
    on-secondary-fixed-variant: #444930;
    secondary-container: #444930;
    on-secondary-container: #e1e6c3;
    tertiary: #a1d0c4;
    tertiary-fixed: #bdece0;
    tertiary-fixed-dim: #a1d0c4;
    on-tertiary: #04372f;
    on-tertiary-fixed: #00201b;
    on-tertiary-fixed-variant: #214e45;
    tertiary-container: #214e45;
    on-tertiary-container: #bdece0;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #13140d;
    on-surface: #e4e3d7;
    on-surface-variant: #c7c8b8;
    outline: #919283;
    outline-variant: #46483c;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e4e3d7;
    inverse-on-surface: #303129;
    inverse-primary: #576421;
    surface-dim: #13140d;
    surface-bright: #393a31;
    surface-container-lowest: #0e0f08;
    surface-container-low: #1b1c15;
    surface-container: #1f2019;
    surface-container-high: #2a2b23;
    surface-container-highest: #34352d;
}
