layout {
    background-color "transparent"

    focus-ring {
        active-color   "#b3c5ff"
        inactive-color "#8f909a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b3c5ff"
        inactive-color "#8f909a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b3c5ff"
        inactive-color "#8f909a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b3c5ff80"
    }
}

recent-windows {
    highlight {
        active-color   "#324578"
        urgent-color   "#ffb4ab"
    }
}